In [3]:
class ageinfo(Exception):
    pass
age = int(input("enter your age : "))
try:
    if age<19:
        raise ageinfo("Your are not eligible to vote")
    else:
        print("your eligible to vote")
except ageinfo as e:
    print(e)

enter your age : 22
your eligible to vote

In [1]:
def mainfunc(func):
    def wrapper():
        print("Before excution")
        print(func())
        print("after excution")
    return wrapper
@mainfunc
def values():
    for i in range(1,10):
        print(i)
values()

Before excution
1
2
3
4
5
6
7
8
9
None
after excution

In [20]:
def addtwonums(func):
    def wrapper(x,y):
        return func(x,y)*10
    return wrapper
@addtwonums
def add(x,y):
    return (x+y)
y=add(2,3)
print(y)

50

In [23]:
def add(func):
    def w(x,y):
        res = func(x,y)*10
        return (f"The result of {x},{y} is {res}")
    return w
@add
def k(a,b):
    return (a+b)
l = k(2,3)
print(l)

The result of 2,3 is 50

In [4]:
def val(*args):
    for i in args:
        print(i)
print(val("narsimha",2,3,4,[2,3,4,56,7,8]))

narsimha
2
3
4
[2, 3, 4, 56, 7, 8]
None

In [18]:
def w(**kw):
    for key,val in kw.items():
        print(f"{key}:{val}")
w(name='narsimha',age=23)

name:narsimha
age:23

In [23]:
v='narsimha'
x=''
l=''
for i in v:
    if v.count(i)>1 and i not in x:
        x+=i
for i in v :
    if i not in l:
        l+=i
print(l)

narsimh

In [29]:
nums=[9,2,3,4,2,4,5,5,5,6,7,8,8]
s=[]
for i in nums:
    if i not in s:
        s.append(i)
s

[9, 2, 3, 4, 5, 6, 7, 8]

In [8]:
l = [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
a=[]
for i in l:
    a.append(i[1])
x=sorted(a)
d=[]
for k in x:
    for j in l:
        if j[1]==k:
            d.append(j)
d

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [42]:
l = [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
for i in range(len(l)):
    for j in range(i+1,len(l)):
        if l[i][1]>l[j][1]:
            l[i],l[j]=l[j],l[i]
l

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [47]:
x=['m','na','i','Nar']
y=['y','me','s','simha']
z=[]
for i in x:
    for j in y:
        if x.index(i)==y.index(j):
            z.append(i+j)
z

['my', 'name', 'is', 'Narsimha']

In [48]:
n=3
for i in range(1,11):
    print(n,"*",i,"=",n*i)

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

In [54]:
x=[1,2,3,4,5,6,5,4,3,7,8,9,9]
c=[i for n,i in enumerate(x) if i not in x[:n]]
c

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
sen="I LOVE PYTHON"
a = sen.split()
z=[]
for i in a:
    b=i[::-1]
    z.append(b)
    print(b,end=' ')
print('\n')
print(z)

I EVOL NOHTYP

['I', 'EVOL', 'NOHTYP']

In [67]:
x=[4,2,3,5,6]
target=8
for i in range(len(x)):
    for j in range(i+1,len(x)):
        if x[i]+x[j] == target:
            print(x[i],x[j])

2 6
3 5

In [69]:
a=0
b=1
print(a)
print(b)
for i in range(2,10):
    c=a+b
    a=b
    b=c
    print(c)

0
1
1
2
3
5
8
13
21
34

In [70]:
fact=1
num=5
for i in range(1,num+1):
    fact=fact*i
fact

120

In [73]:
x=1234
sum=0
while x>0:
    rem = x%10
    sum+=rem
    x=x//10
sum

10

In [90]:
x=[1,2,3,4,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,3,3,3,4,6,6,6,6,66,6,6,6,66,6,6,6,6,6,6,6,6,6,6,6,6]
c={}
for i in x:
    if i not in c.keys():
        c[i]=1
    else:
        c[i]+=1
maxv=0
common=None
for i in c:
    if c[i]>maxv:
        maxv=c[i]
        common = i
print('most common value :',common)

most common value : 2

In [93]:
x=1234
v=''
while x>0:
    rem=x%10
    v+=str(rem)
    x=x//10
a=int(v)
a

4321

In [94]:
x='fof'
y=x[::-1]
if x==y:
    print('palindrome')
else:
    print('no')

palindrome

In [98]:
a='fof'
s=0
e=len(a)-1
while s<e:
    if a[s]!=a[e]:
        print('its not a plindrome ')
    s+=1
    e-=1
else:
    print('yes')

yes

In [101]:
l=0
u=10
for num in range(l,u+1):
    if num>1:
        for i in range(2,num):
            if num%i==0:
                break
        else:
            print(num)

2
3
5
7

In [114]:
x="name:narsimha,age;23,deg:Software"
x=x.replace(';',':')
x=x.split(',')
c={}
for i in x:
    key,val=i.split(':')
    c[key]=val
c

{'name': 'narsimha', 'age': '23', 'deg': 'Software'}

In [120]:
a='vasu:1,raju:2,vasu:3'
a=a.split(',')
c=[]
for i in a:
    key,val=i.split(':')
    c.append({"name":key,"id":val})
print(c)

[{'name': 'vasu', 'id': '1'}, {'name': 'raju', 'id': '2'}, {'name': 'vasu', 'id': '3'}]

In [124]:
a={'name':'vasu','id':3,'deg':15,'amount':25}
e={k:v for k,v in reversed(a.items())}
e

{'amount': 25, 'deg': 15, 'id': 3, 'name': 'vasu'}

In [125]:
a={'name':'vasu','id':3,'deg':15,'amount':25} 
sum=0
for i,j in a.items():
    sum=sum+len(i)+len(str(j))
sum

24

In [131]:
x=[{"name":"hari","id":1},{"name":"ganesh","id":2},{"name":"simha","id":2},{"name":"hari","id":1}]
for i in range(len(x)):
    for j in range(i+1,len(x)):
        if x[i]['name']>x[j]['name']:
            x[i],x[j]=x[j],x[i]
x

[{'name': 'ganesh', 'id': 2},
 {'name': 'hari', 'id': 1},
 {'name': 'hari', 'id': 1},
 {'name': 'simha', 'id': 2}]

In [134]:
d={'a':3,'b':5,'c':2,'d':1,'e':-2}
x=list(d.items())
for i in range(len(x)):
    for j in range(i+1,len(x)):
        if x[i][1]>x[j][1]:
            x[i],x[j]=x[j],x[i]
x=dict(x)
x

{'e': -2, 'd': 1, 'c': 2, 'a': 3, 'b': 5}

In [153]:
a=[{"name":"AP","city":["vizag","Amravathi","Anakala","kur","nandyala"]},{"name":"MP","city":["Abd","cda","Ade","kur","d"]}]

for i in a:
    l=[]
    count=0
    for j in i['city']:
        if j[0]=='A':
            count+=1
            l.append(j)
        i['city']=count
        i['city with a']=l
print(a)

[{'name': 'AP', 'city': 2, 'city with a': ['Amravathi', 'Anakala']}, {'name': 'MP', 'city': 2, 'city with a': ['Abd', 'Ade']}]

In [160]:
x=[[1,2,3],[3,4,2],[4,2,6,1]]
for i in x[0]:
    for j in x[1]:
        for k in x[2]:
            if i==j and j==k:
                print(i)

2

In [176]:
a='abhi bhargav vamsi shankar sai revi shiva muni'
a=a.split()
c=[]
for i in range(len(a)):
    if i%2!=0:
        ss=a[i]
        dd=ss[::-1]
        c.append(dd)
    else:
        c.append(a[i])
c

['abhi', 'vagrahb', 'vamsi', 'raknahs', 'sai', 'iver', 'shiva', 'inum']

In [179]:
l=['aba','xyz','abc','1221']
for i in l:
    if i[0]==i[-1]:
        print(i)

aba
1221

In [184]:
x=['narsimha','chellaboina','goud']
h=''
for i in x:
    if len(i)>len(h):
        h=i
h

'chellaboina'

In [196]:
x =['john','john','johnny','jackie','johnny','john','jackie','jamie','jamie','john','johnny','jamie','johnny','john']
c={}
for i in x:
    if i not in c.keys():
        c[i]=1
    else:
        c[i]+=1
maxv=0
common=None
for i in c:
    if c[i]>maxv:
        maxv=c[i]
        common=i
common

'john'

In [199]:
x=[1,2,3,4,5,5,5]
c={}
for i in x:
    if i not in c.keys():
        c[i]=1
    else:
        c[i]+=1
h=0
com=None
for i in c:
    if c[i]>h:
        h=c[i]
        com=i
com

5

In [1]:
a=[{ 'name': 'andhra', 'city': ['nellore', 'guntur'] }, { 'name': 'telangana', 'city': ['Hyd', 'varangal'] }]
states=[]
cites=[]
for i in a:
    states.append(i['name'])
    for j in i['city']:
        cites.append({'name':j,'states':i['name']})
y={'name':states,'cities':cites}
print(y)

{'name': ['andhra', 'telangana'], 'cities': [{'name': 'nellore', 'states': 'andhra'}, {'name': 'guntur', 'states': 'andhra'}, {'name': 'Hyd', 'states': 'telangana'}, {'name': 'varangal', 'states': 'telangana'}]}

In [212]:
def primenum(func):
    def wrapper(l,u):
        for num in range(l,u):
            if num>1:
                for i in range(2,num):
                    if num%i==0:
                        break
                else:
                    print(num)
        return func(l,u)
    return wrapper
@primenum
def pp(a,b):
    print(f'prime numbers between {a},{b}')
c=pp(1,20)

2
3
5
7
11
13
17
19
prime numbers between 1,20

In [223]:
x="forgeekskeegfor"
op=''
ma=0
for i in range(len(x)):
    for j in range(i+1,len(x)+1):
        cand = x[i:j]
        if cand==cand[::-1] and len(cand)>ma:
            op=cand
            ma=len(cand)
op

'geekskeeg'

In [236]:
def palindrome(x):
    c={}
    for i in x:
        if i not in c:
            c[i]=1
        else:
            c[i]+=1
    res=0
    odd=0
    if len(c)==1:
        print(c[x[0]])
    for i in c.values():
        if i>1:
            if i%2==0:
                res+=i
            else:
                res+=i-1
                odd+=1
        else:
            odd=odd+1
    if odd>0:
        res+=1
    return res
x="forgeekskeegfor"
palindrome(x)

15

In [244]:
x= [{'item': 'item1', 'amount': 400}, {'item': 'item2', 'amount': 300}, {'item': 'item1', 'amount': 750}]
c={}
for i in x:
    if i['item'] not in c:
        c[i['item']]=i['amount']
    else:
        c[i['item']]+=i['amount']
c

{'item1': 1150, 'item2': 300}

In [35]:
x="(){}[]"
for i in range(len(x)):
    for j in range(i+1,len(x)):
        if x[i] == "(" and x[i+1] == ")":
            print(x[i],x[i+1],"True")

( ) True
( ) True
( ) True
( ) True
( ) True

In [1]:
ar = [1,2,3]
sum = [i for i in ar ]
sum

[1, 2, 3]

In [ ]:
import pandas as pd
pd.read_csv()

In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\narsimhac\anaconda3\lib\site-packages (1.4.4)
Requirement already satisfied: numpy>=1.18.5 in c:\users\narsimhac\anaconda3\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\narsimhac\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\narsimhac\anaconda3\lib\site-packages (from pandas) (2022.1)
Requirement already satisfied: six>=1.5 in c:\users\narsimhac\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [4]:
file_path = 'D:\Folder_Fast_API\four_hour'  # Replace 'empty_file.txt' with the desired file name and path

# Open the file in append mode, which creates an empty file if it does not exist
with open(file_path, 'a'):
    pass

print(f"Empty file '{file_path}' created (if it didn't exist already).")

OSError: [Errno 22] Invalid argument: 'D:\\Folder_Fast_API\x0cour_hour'

# 11-09-2023

In [9]:
x="name:narsimha,age;23,deg:Software"
x = x.replace(';',':')
x = x.split(',')
a = []
b = []
for i in x:
    key,val = i.split(':')
    a.append(key)
    b.append(val)
c = dict(zip(a,b))
c

{'name': 'narsimha', 'age': '23', 'deg': 'Software'}

In [18]:
a='vasu:1,raju:2,vasu:3'
a = a.split(',')
x = []
for i in a:
    key,val = i.split(':')
    x.append({"name":key,"id":val})
print(x)

[{'name': 'vasu', 'id': '1'}, {'name': 'raju', 'id': '2'}, {'name': 'vasu', 'id': '3'}]

In [31]:
a={'name':'vasu','id':3,'deg':15,'amount':25}
x = []
y = []
for k,v in a.items():
    x.append(k)
    y.append(v)
a = x[::-1]
b = y[::-1]
 
c = dict(zip(a,b))
print(c)

{'amount': 25, 'deg': 15, 'id': 3, 'name': 'vasu'}

In [34]:
a={'name':'vasu','id':3,'deg':15,'amount':25}
x,y ="",""
for k,v in a.items():
    x+=k
    y+=str(v)
print(len(x)+len(y))

24

In [43]:
x=[{"name":"hari","id":1},{"name":"ganesh","id":2},{"name":"simha","id":2},{"name":"zee","id":1},{"name":"zee","id":1}]
for i in range(len(x)):
    for j in range(i+1,len(x)):
        if x[i]['name']>x[j]['name']:
            x[i],x[j]=x[j],x[i]
y = []
for i in x:
    if i not in y:
        y.append(i)
y

[{'name': 'ganesh', 'id': 2},
 {'name': 'hari', 'id': 1},
 {'name': 'simha', 'id': 2},
 {'name': 'zee', 'id': 1}]

In [47]:
l = [{"V": "S001"}, {"V": "S002"}, {"VI": "S001"}, {"VI": "S005"}, {"VII": "S005"}, {"V": "S009"}, {"VIII": "S007"}]
 
for i in l:
    for j in i.values():
        print(str(j))

S001
S002
S001
S005
S005
S009
S007

In [51]:
a={'name':'vasu', 'amount':40}
c = ''
for i,j in a.items():
    c+=i+str(j)
print(len(c))

16

In [56]:
d={'a':3,'b':5,'c':2,'d':1,'e':-2}
s = list(d.items())
for i in range(len(s)):
    for j in range(i+1,len(s)):
        if s[i][1]>s[j][1]:
            s[i],s[j]=s[j],s[i]
d = dict(s)
d

{'e': -2, 'd': 1, 'c': 2, 'a': 3, 'b': 5}

In [67]:
a=[{"name":"AP","city":["vizag","Amravathi","Anakala","kur","nandyala"]},{"name":"MP","city":["Abd","cda","Ade","kur","d"]}]
for i in a:
    c = 0
    l = []
    for j in i['city']:
        if j[0] == 'A' or j[0] == 'a':
            c = c+1
            l.append(j)
            i['city'] = c
            i['city with a'] = l
print(a)

[{'name': 'AP', 'city': 2, 'city with a': ['Amravathi', 'Anakala']}, {'name': 'MP', 'city': 2, 'city with a': ['Abd', 'Ade']}]

In [69]:
x=[[1,2,3],[3,4,2],[4,6,2]]
for i in x[0]:
    for j in x[1]:
        for k in x[2]:
            if i == j and j == k:
                print(i)

2

In [72]:
my_list = [[1,2,3],[1,2,3,],[1,2,3,4,]]
x = []
for i in my_list:
    for j in i:
        if j not in x:
            x.append(j)
x

[1, 2, 3, 4]

In [82]:
a='abhi bhargav vamsi shankar sai revi shiva muni'
d = []
a = a.replace(' ',',')
a = a.split(',')
for i in range(len(a)):
    if i%2 != 0:
        c = a[i][::-1]
        d.append(c)
    else:
        d.append(a[i])
d

['abhi', 'vagrahb', 'vamsi', 'raknahs', 'sai', 'iver', 'shiva', 'inum']

In [99]:
l = [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]

for i in range(len(l)):
    for j in range(i + 1, len(l)):
        if l[i][1] > l[j][1]:
            l[i], l[j] = l[j], l[i]

print(l)

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [87]:
x=['m','na','i','Nar']
y=['y','me','s','simha']
c = []
for i in x:
    for j in y:
        if x.index(i) == y.index(j):
            c.append(i+j)
c

['my', 'name', 'is', 'Narsimha']

In [92]:
l=['aba','xyz','abc','1221']
c = 0
for i in l:
    if i[0] == i[-1]:
        c+=1
c

2

In [102]:
c = [0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
d = [(i,i**2) for i in range(len(c))]
d

[(0, 0),
 (1, 1),
 (2, 4),
 (3, 9),
 (4, 16),
 (5, 25),
 (6, 36),
 (7, 49),
 (8, 64),
 (9, 81)]

In [1]:
class ageinfo(Exception):
    pass
age = int(input("enter your age : "))
try:
    if age<19:
        raise ageinfo("your not eligible to vote")
    else:
        print("Your eligible to vote ")
except ageinfo as e:
    print(e)

enter your age : 2
your not eligible to vote

In [11]:
def total():
    n=1
    while n<=10:
        sd = n*n
        yield sd
        n+=1
s = total()
s

In [15]:
def mul_ten(func):
    def wrapper(x,y):
        return func(x,y)*10
    return wrapper
@mul_ten
def m(x,y):
    return x+y
print(m(10,20))

300

In [19]:
def statement(func):
    def wrapper(x,y):
        res = x+y
        print(f"The sume of {x} and {y} is {res}")
        return res
    return wrapper
@statement
def add(x,y):
    return x+y
print(add(10,20))

The sume of 10 and 20 is 30
30

In [21]:
s="Venkatt"
l = ''
k = ''
for i in s:
    if i not in l:
        l+=i
print(l)

for j in s:
    if s.count(j)>1 and j not in k:
        k+=j
print(k)

Venkat
t

In [28]:
x=[1,2,3,4,5,6,5,4,3,7,8,9,9]
d = [i for n,i in enumerate(x) if i not in x[:n]]
d

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [30]:
sen="I LOVE PYTHON"
sen = sen.split()
for i in sen:
    y = i[::-1]
    print(y,end=' ')

I EVOL NOHTYP

In [33]:
fact = 1
for i in range(1,6):
    fact = fact*i
print(fact)

120

In [34]:
x = 1234
sum = 0
while x>0:
    rem = x%10
    sum+=rem
    x = x//10
sum

10

In [35]:
s1="Narsimha"
s2="Chellaboina"
s3 = " ".join([i for i in s1 if i not in s2])
s3

'N r s m'

In [55]:
x=[1,2,3,4,2,2,2,2,2,2,2,2,2,3,3,3,4,6,6,6,6,66,6,6,6,66,6,6,6,6,6,6,6,6,6,6,6,6] 
c = {}
for i in x:
    if i not in c:
        c[i]=1
    else:
        c[i]+=1
maxv=0
common = None
for i,j in c.items():
    if j > maxv:
        maxv = j
        common = i
common

6

In [61]:
s='eestakt'
a = s[0]
c = s.replace('e','$')
print(a+c[1:])

e$stakt

In [66]:
def prime(func):
    def wrapper(x,y):
        for num in range(x,y):
            if num>1:
                for i in range (2,num):
                    if num%i == 0:
                        break
                else:
                    print(num)
        return func(x,y)
    return wrapper
@prime
def nums(l,u):
    print(f" prime numbers between {l} and {u}")
nums(1,30)

2
3
5
7
11
13
17
19
23
29
 prime numbers between 1 and 30

In [71]:
from functools import reduce 
nums=[1,2,3,4,6,7,4,9]
even = list(filter(lambda x:x%2==0,nums))
double = list(map(lambda x:x**2,even))
sum = reduce(lambda a,b : a+b,nums)
sum

36

In [72]:
persons = ['alfred', 'tabitha', 'william', 'arla']
uper = list(map(lambda x:x.upper(),persons))
uper

['ALFRED', 'TABITHA', 'WILLIAM', 'ARLA']

In [77]:
x="forgeekskeegfor"
c=[]
for i in range(len(x)):
    for j in range(i+1,len(x)):
        a = x[i:j+1]
        if a == a[::-1]:
            c.append(a)
long = ''
for i in c:
    if len(i)>len(long):
        long = i
long

'geekskeeg'

In [79]:
x= [{'item': 'item1', 'amount': 400}, {'item': 'item2', 'amount': 300}, {'item': 'item1', 'amount': 750}]
res = {}
for i in x:
    if i['item'] not in res:
        res[i['item']] = i['amount']
    else:
        res[i['item']]+=i['amount']
res

{'item1': 1150, 'item2': 300}

In [81]:
d = {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
print("key value count")
for count,(key,val) in enumerate(d.items(),1):
    print(key,val,count)

key value count
1 10 1
2 20 2
3 30 3
4 40 4
5 50 5
6 60 6

In [89]:
for i in range(10):
    for j in range(10):
        if i%2 == 0:
            if j%2 == 1:
                print(i+j,end=' ')
    print()

1 3 5 7 9

3 5 7 9 11

5 7 9 11 13

7 9 11 13 15

9 11 13 15 17