In [11]:
from typing import List

def minDiff(n : int, arr : List[int]):
    d=[]
    arr.sort()
    diff = float('inf')
    for i in range(1,len(arr)):
        df=abs(arr[i]-arr[i-1])

        d.append((arr[i-1],arr[i]))
        diff=min(diff,df)
    print(d)
    print(diff)
n=5
arr=[3,-6,7,-7,0]
minDiff(n,arr)

[(-7, -6), (-6, 0), (0, 3), (3, 7)]
1

In [15]:
matrix=[]
for i in range(5):
    matrix.append([])
    for j in range(5):
        matrix[i].append(j)
print(matrix)

[[0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4]]

In [11]:
a='abhi bhargav vamsi shankar sai revi shiva'
b=a.split()
print(b)
for i in range(len(b)):
    if i%2!=0:
        b[i] = b[i][::-1]
print(b)

['abhi', 'bhargav', 'vamsi', 'shankar', 'sai', 'revi', 'shiva']
['abhi', 'vagrahb', 'vamsi', 'raknahs', 'sai', 'iver', 'shiva']

In [16]:
A="www.facebook.com?name=rajiv&gender=male"

b= A.split('?')
print(b)
b=b[1].split('&')
print(b)
b1=b[0].split('=')
print(b1)
b2=b[1].split('=')
print(b2)
det={}
det [b1[0]]=b1[1]
det [b2[0]]=b2[1]
print(det)

['www.facebook.com', 'name=rajiv&gender=male']
['name=rajiv', 'gender=male']
['name', 'rajiv']
['gender', 'male']
{'name': 'rajiv', 'gender': 'male'}

In [19]:
a='http:abc.com?name?vasu?deg?20'
a=a.split('?')
print(a)
sa={}
sa[a[1]]=a[2]
sa[a[3]]=a[4]
print(sa)

['http:abc.com', 'name', 'vasu', 'deg', '20']
{'name': 'vasu', 'deg': '20'}

In [22]:
s='qsdfghjkjhgfdsssdfvghjhgfdssdfghjkjhgfdsasdrtgyujijhgfds'

di = {}
for i in s:
    if i not in di.keys():
        di[i]=1
    else:
        di[i]+=1
print(di)

{'q': 1, 's': 9, 'd': 8, 'f': 7, 'g': 8, 'h': 7, 'j': 7, 'k': 2, 'v': 1, 'a': 1, 'r': 1, 't': 1, 'y': 1, 'u': 1, 'i': 1}

In [24]:
l = [{"V": "S001"}, {"V": "S002"}, {"VI": "S001"}, {"VI": "S005"}, {"VII": "S005"}, {"V": "S009"}, {"VIII": "S007"}]

l1=[]
for i in l:
    for j in i.values():
        l1.append(j)
print(l1)
print(set(l1))

['S001', 'S002', 'S001', 'S005', 'S005', 'S009', 'S007']
{'S005', 'S002', 'S009', 'S007', 'S001'}

In [26]:
Input_list = [[0, 1, 2], [3, 4, 5], [0, 1, 8]]
out_list= [i for i in Input_list]
print(out_list)

[[0, 1, 2], [3, 4, 5], [0, 1, 8]]

In [43]:
Input_list = [[0, 1, 2], [3, 4, 5], [0, 1, 8]]
out=[]
for x in range(len(Input_list)):
    data =[]
    for j in Input_list[x]:
        data.append(j)
    out.append(data)
    day = [b for a in out for b in a]
print(out)
print(day)

[[0, 1, 2], [3, 4, 5], [0, 1, 8]]
[0, 1, 2, 3, 4, 5, 0, 1, 8]

In [8]:
# find the maximum value in the list 

a = [10, 24, 76, 23, 12]
large = a[0]
for i in a:
    if i > large:
        large = i
print(large)

76

In [15]:
# find the maximum value in the list 


from functools import reduce 

a = [10, 24, 76, 23, 12]
data = reduce(lambda x,y: x if x>y else y,a)
print(data)

76

In [20]:
# swap the first and last items in the list 

def swaplist(nums):
    data = len(nums)
    temp = nums[0]
    nums[0] = nums[data-1]
    nums[data-1] =temp
    return nums
nums =  [10, 24, 76, 23, 12]

print(swaplist(nums))

[12, 24, 76, 23, 10]

In [21]:
# swap the first element and last element in the list 

nums =  [10, 24, 76, 23, 12]

nums[0], nums[-1] = nums[-1], nums[0]
print(nums)

[12, 24, 76, 23, 10]

In [22]:
# Value in the list is available or not 

a = [10, 20, 30, 40, 50]

data = 30 
flag = False 
for i in a:
    if i == data:
        flag = True 
        break 
if flag:
    print("it exists")
else:
    print("it not exists")

it exists

In [28]:
# Value in the list is available or not 



def fun(a):
    data = 30 
    flag = False
    for i in a:
        if i == data:
            flag = True
            break
    if flag:
        return flag 
    else:
        return empty
a = [10, 20, 30, 40, 50]

print(fun(a))

True

In [31]:
# reverse the string in the list

a = [1, 2, 3, 4, 5]
b= []
for i in a:
    b.insert(0,i)
print(b)

[5, 4, 3, 2, 1]

In [37]:
# reverse the string in the list


a = [1, 2, 3, 4, 5]
b=[]
for i in range(len(a)-1,-1,-1):
    b.append(a[i])
print(b)

[5, 4, 3, 2, 1]

In [38]:
# sum of all values in list 


a = [1, 2, 3, 4, 5]

b = 0
for i in a:
    b+= i
print(b)

15

In [42]:
# concatinate the 2 lists in 1 


a = [1, 2, 3]
b = [4, 5, 6]

c= a+b
print(c)

a.extend(b)
print(a)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]

In [69]:
l = [{"V": "S001"}, {"V": "S002"}, {"VI": "S001"}, {"VI": "S005"}, {"VII": "S005"}, {"V": "S009"}, {"VIII": "S007"}]
a = []
b = []

for i in l:
    for j,k in i.items():
        a.append(j)
        b.append(k)
print(a)
print(b)

['V', 'V', 'VI', 'VI', 'VII', 'V', 'VIII']
['S001', 'S002', 'S001', 'S005', 'S005', 'S009', 'S007']

In [68]:
b= ['S001', 'S002', 'S001', 'S005', 'S005', 'S009', 'S007']
for m in range(len(b)):
    for n in range(len(b)-1):
        if b[n]>b[n+1]:
            b[n], b[n+1] = b[n+1],b[n]
print(b)

['S001', 'S001', 'S002', 'S005', 'S005', 'S007', 'S009']

In [70]:
l = [1, 2, 'abc', 'is', 4, 5, 'jsd']
a = []
b = []
for i in l:
    if type(i) == int:
        a.append(i)
    else:
        b.append(i)
print(a)
print(b)

[1, 2, 4, 5]
['abc', 'is', 'jsd']

In [82]:
list=[21,23,56,78,9,0,98,89,789,87,654,57432345,34,343,23,4,5,6,7,86,5,55,5,4,3,2,3,44,5,5,5,5,65]
a = []
for i in list:
    if i not in a:
        a.append(i)
for j in range(len(list)):
    for k in range(len(list)-1):
        if list[k]>list[k+1]:
            list[k],list[k+1] = list[k+1],list[k]
print(list)
print(a)

[0, 2, 3, 3, 4, 4, 5, 5, 5, 5, 5, 5, 5, 6, 7, 9, 21, 23, 23, 34, 44, 55, 56, 65, 78, 86, 87, 89, 98, 343, 654, 789, 57432345]
[21, 23, 56, 78, 9, 0, 98, 89, 789, 87, 654, 57432345, 34, 343, 4, 5, 6, 7, 86, 55, 3, 2, 44, 65]

In [99]:
a = 'abcdef'
a = list(a)
b =len(a) - 1
for i in range(len(a)):
    if i < b:
        a[i],a[b] = a[b], a[i]
        b -= 1
print(''.join(a))
print(b)

['a', 'b', 'c', 'd', 'e', 'f']
fedcba

In [102]:
n = []
for i in range(1500,2701):
    if i % 7 == 0 and i % 5 == 0:
        n.append(str(i))
print(n)
print(','.join(n))

['1505', '1540', '1575', '1610', '1645', '1680', '1715', '1750', '1785', '1820', '1855', '1890', '1925', '1960', '1995', '2030', '2065', '2100', '2135', '2170', '2205', '2240', '2275', '2310', '2345', '2380', '2415', '2450', '2485', '2520', '2555', '2590', '2625', '2660', '2695']
1505,1540,1575,1610,1645,1680,1715,1750,1785,1820,1855,1890,1925,1960,1995,2030,2065,2100,2135,2170,2205,2240,2275,2310,2345,2380,2415,2450,2485,2520,2555,2590,2625,2660,2695

In [7]:
numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9) 
count= 0
data = []
for i in numbers:
    if i % 2 == 0:
        count +=1
    else:
        data.append(i)
print(count)
print(data)

4
[1, 3, 5, 7, 9]

In [108]:
num = [0,1,2,3,4,5,6,7]

for i in num:
    if (i == 3 or i == 6):
        continue
    else:
        print(i)

0
1
2
4
5
7

In [110]:
def sum_of_list(nums):
    data = 0
    for i in nums:
        data+=i
    return data
nums =[10,20,30,40]
print(sum_of_list(nums))

100

In [115]:
def multiple(nums):
    data = 1
    for i in nums:
        data = data*i
    return data
nums =[1,2,3,4]
print(multiple(nums))

24

In [119]:
def max_in_list(nums):
    max=nums[0]
    for i in nums:
        if i > max:
            max = i
    return max
nums =[10,20,30,40]
print(max_in_list(nums))

40

In [121]:
def min_in_list(nums):
    min = nums[0]
    for i in nums:
        if i < min:
            min = i
    return min
nums =[10,20,30,40]
print(min_in_list(nums))

10

In [137]:
def matched_words(words):
    count = 0
    for i in words:
        if len(i)>1 and i[0] == i[-1]:
            count +=1
    return count

words = ['abc', 'aba','122221']
print(matched_words(words))

2

In [169]:
l = [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
a = []
a=[i[1] for i in l]
b= sorted(a)
data = []
for j in b:
    for k in l: 
        if k[1] == j and k not in data:
            data.append(k)
print(data)

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [181]:
a = [10, 20, 30, 20, 10, 50, 60, 40, 80, 50, 40]
b = []
for i in a:
    if i not in b:
        b.append(i)
print(b)

[10, 20, 30, 50, 60, 40, 80]

In [183]:

# Write a Python program to find the list of words that are longer than n from a given list of words.

def long_words(n,str):
    data = []
    day = str.split(' ')
    for i in day:
        if len(i) > n:
            data.append(i)
    return data

n = 3
str = "The quick brown fox jumps over the lazy dog"
print(long_words(n,str))

['quick', 'brown', 'jumps', 'over', 'lazy']

In [186]:
# Write a Python function that takes two lists and returns True if they have at least one common member.

def eleminate_common_numbers(list1,list2):
    flag = False
    for i in list1:
        for j in list2:
            if i == j:
                flag = True
                return flag
list1 = [1, 2, 3, 4, 5]
list2 = [5, 6, 7, 8, 9]
print(eleminate_common_numbers(list1,list2))

True

In [197]:
# find the common value in the 2 lists


def eleminate_common_numbers(list1,list2):
    a = []
    for i in list1:
        for j in list2:
            if i == j:
                a.append(i)
                return a
list1 = [1, 2, 3, 4, 5]
list2 = [5, 6, 7, 8, 9]
print(eleminate_common_numbers(list1,list2))

[5]

In [215]:
def eleminate_uncommon_numbers(list1,list2):
    a=[]
    b = []
    for i in list1:
        if i not in list2:
            a.append(i)
    for j in list2:
        if j not in list1:
            b.append(j)
    return a+b
 
list1 = [1, 2, 3, 4, 5]
list2 = [5, 6, 7, 8, 9]
print(eleminate_uncommon_numbers(list1,list2))

[1, 2, 3, 4, 6, 7, 8, 9]

In [ ]:
def eleminate_uncommon_numbers(list1,list2):
    uncommon = [i for i in list1 if i not in list2] + [j for j in list2 if j not in list1]
    return uncommon 
list1 = [1, 2, 3, 4, 5]
list2 = [5, 6, 7, 8, 9]
print(eleminate_uncommon_numbers(list1,list2))

In [1]:
def remove_even_nums(nums):
    a= []
    for i in nums:
        if i % 2 ==0:
            a.append(i)
    return a
nums = [7, 8, 120, 25, 44, 20, 27]
print(remove_even_nums(nums))

[8, 120, 44, 20]

In [2]:
nums = [-4,-2,-1,4,8]
min = abs(nums[0])
for i in nums:
    data = abs(i)
    if data < min:
        min = data
print(min)

1

In [9]:
def min_value(nums):
    min = nums[0]
    for i in nums:
        if i < min:
            min = i
            
        return min
nums = [-4,-2,1,4,8]
print(min_value(nums))

-4

In [5]:
def absolute_min_value(nums):
    min = abs(nums[0])
    for i in nums:
        data = abs(i)
        if data< min:
            min =data
    return min
nums = [-4,-2,4,8]
print(absolute_min_value(nums))

2

In [4]:
a = [[2, 4, 3], [1, 5, 6], [9], [7, 9, 0]]
b= []
for i in a:
    for j in i:
        b.append(j)
print(b)

[2, 4, 3, 1, 5, 6, 9, 7, 9, 0]

In [7]:
def second_number(nums):
    if len(nums)<2:
        return 
    if len(nums) ==2 and num [0] == num[1]:
        return
    data = []
    for i in nums:
        if i not in data:
            data.append(i)
    data.sort()
    return data[1]
nums= [1, 2, -8, -2, 0, -2]
print(second_number(nums))

-2

In [10]:
my_list = [10, 10, 10, 10, 20, 20, 20, 20, 40, 40, 50, 50, 30]
data= {}
for i in my_list:
    if i in data:
        data[i] += 1  # Increment the count if number already exists
    else:
        data[i] = 1  # Initialize count for first occurrence

print(data)

{10: 4, 20: 4, 40: 2, 50: 2, 30: 1}

In [19]:
# list inside the sublist

def sub_list(num):
    data = []
    for i in range(len(num)):
        for j in range(i + 1, len(num) + 1):
            data.append(num[i:j])
    return data
num =  [1, 2,3]
print(sub_list(num))

[[1], [1, 2], [1, 2, 3], [2], [2, 3], [3]]

In [11]:
def longest_common_prefix(s):
    data = s[0]
    for i in s:
        while not i.startswith(data):
            data = data[:-1]
            if not data:
                return ''
    return data
s=["flower", "flow", "flight"]
print(longest_common_prefix(s))

fl

In [1]:
d={"A+":4.0, "A" :3.5, "A-" :3.67, "B+" :3.33, "B" :3.0, "B-" :2.67,
"C+" :2.33, "C-" :2.0, "C" :1.67, "D+" :1.33, "D" :1.0, "F" :0.0}
a=['A+','C','D','F','B+','A']
total = 0
for i in a:
    total += d[i]
print(total)

13.5

In [2]:
a=["vasu:2","bhargav:3","abhi:1"]
c=[]

for i in a:
    d={}
    for j in i:
        d[i.split(":")[0]]=i.split(":")[1]
    c.append(d)
print(c)

[{'vasu': '2'}, {'bhargav': '3'}, {'abhi': '1'}]

In [6]:
a=[2,3,5,7,1,6,4]
for i in range(len(a)-1):
    for j in range(len(a)-i-1):
        if a[j] > a[j+1]:
            a[j],a[j+1] = a[j+1],a[j]
print(a)

[1, 2, 3, 4, 5, 6, 7]

In [14]:
l=[2,3,5,7,6,1,2]

for i in range(len(l)):
    for j in range(i,len(l)):
        if l[i]+l[j]==8:
            print(l[i],l[j])

2 6
3 5
7 1
6 2

In [16]:
a=['1',2,'2',3,'3',2,'1','2','3',3,4,'4',3,'3']
l=[]
b=[]
for i in a:
    if type(i)==int:
        l.append(i)
    else:
        b.append(i)
print(l)
print(b)

[2, 3, 2, 3, 4, 3]
['1', '2', '3', '1', '2', '3', '4', '3']

In [18]:
a = [1,2,3,4,5,6]
b = [2,3,5,7,9,4]
c = []
for i in range(len(a)):
    if i in b:
        c.append(i)
print(c)

[2, 3, 4, 5]

In [7]:
 # Find Closest Number to Zero

s = [-4,-2,4,8]
a= abs(s[0])
for i in s:
    if abs(i) < abs(a) or (abs(i) == abs(a) and i > a):
        a = i
print(a)

-2

In [9]:
#  absolute min value in that minimum value not considered as negative value it provides only positives 


def absolute_min_value(nums):
    min = abs(nums[0])
    for i in nums:
        data = abs(i)
        if data< min:
            min =data
    return min
nums = [-4,-2,4,8]
print(absolute_min_value(nums))

2